@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
/* @import url("lumierarough.woff"); */
@font-face {
  font-family: "lumieraRough";
  src: url("lumierarough.woff");
}
* {
  box-sizing: border-box;
}

html {
  font-family: "lumieraRough", 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

